VITE_API_URL="http://localhost:3000/api"
VITE_APP_URL="https://core-slash.vercel.app"
VITE_WHATSAPP_PHONE="918861220023"
VITE_WHATSAPP_LINK="https://wa.me/918861220023"
VITE_WHATSAPP_LINK_SECONDARY="https://wa.me/919513013247"
VITE_LINKEDIN_URL="https://www.linkedin.com/company/coreslash-technologies/"
VITE_INSTAGRAM_URL="https://www.instagram.com/coreslashtechnologies/"
VITE_SUPPORT_EMAIL="coreslashtechnologies@gmail.com"
VITE_SUPPORT_EMAIL_LINK="https://mail.google.com/mail/?view=cm&fs=1&to=coreslashtechnologies@gmail.com"
VITE_GOOGLE_MAPS_LINK="https://maps.google.com"
