DATABASE_URL="postgresql://neondb_owner:npg_3HbwpZ4WvGlE@ep-blue-bonus-amhdq6up-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Mail Settings
RESEND_API_KEY="re_eU61zxLN_E86eFR5msGEAv1f9YdLJUtTG"
MAIL_TO="coreslashtechnologies@gmail.com"

# Superadmin Settings
SUPERADMIN_USERNAME="admin"
SUPERADMIN_PASSWORD="admin123"
SUPERADMIN_TOKEN="superadmin-session-token"